.test{
    color: blue;
    background: #ccc;
}

.card{
    color: #000;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 100%;
}

.photos{
    object-fit: contain;
    height: 180px;
}

.btn{
    width: 320px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 15px 0;
    background-color: rgb(77, 195, 254);
    display: inline-block;
}
