.test{
    color: blue;
    background: #ccc;
}

.card{
    color: #000;
    transition: all 0.3s;
    display: block;
    width: 200px;
    height: 100%;
}

.photos{
    object-fit: contain;
    width: 200px;
}

.btn{
    display: inline-block;
    width: 280px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 15px 0;
    background-color: rgb(77, 195, 254);
    margin: 24px 0;
    
}

.all {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.title {
    text-align: center;
    margin: 24px 0 24px 0;
    font-size: 18px;
    font-weight: bold;
}

.comment {
    text-align: left;
    font-size: 12px;
}